<div class="gauge">
        <div class="mood low"> <span class="char">L</span><span class="char">o</span><span class="char">w</span><img src='../../../assets/icon/low_smily.png' class="guage-image-low"></div>
        <div class="mood medium"> <span class="char">M</span><span class="char">e</span><span class="char">d</span><span class="char">i</span><span class="char">u</span><span class="char">m</span><img src='../../../assets/icon/medium_smily.png' class="guage-image-medium"></div>
        <div class="mood high"><span class="char">H</span><span class="char">i</span><span class="char">g</span><span class="char">h</span><img src='../../../assets/icon/high_smily.png' class="guage-image-high"></div>
        <div class="mood max"><span class="char">M</span><span class="char">a</span><span class="char">x</span><img src='../../../assets/icon/max_smily.png' class="guage-image-max"></div>
        <div class="needle"></div>
</div>