<ion-tabs>

  <ion-tab-bar slot="bottom" background="white">
    <ion-tab-button tab="home" class="tabs-background full-width-tab">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="analytics" class="tabs-background full-width-tab"> 
      <ion-icon name="analytics"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings" class="tabs-background full-width-tab"> 
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>