<!-- <ion-header>
  <ion-toolbar>
    <ion-title>screen4</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content no-bounce has-bouncing="false" forceOverscroll="false" class="full-background-color">
    
    <ion-row>
        <ion-col class="center-aligns" style="margin-top: 10%">
           <ion-img src="../../assets/images/screen4.png" style="width: 66%; margin: auto;"></ion-img>
        </ion-col>
    </ion-row>
    <ion-row >
        <ion-col class="center-aligns" style="margin-top: 10%">
            <ion-button  class="yes-btn button-color" shape="round" padding (click)="getTrackingWaitScreen()"><b>Yes</b></ion-button>
            <ion-button class="no-btn"  shape="round" padding (click)="checkoutScreen()"><b>No</b></ion-button>
        </ion-col>
    </ion-row>
    
</ion-content>
