<div class="gauge">
  <div class="mood low low-guilt"> <span class="char">L</span><span class="char">o</span><span class="char">w</span><img src='../../../assets/icon/guilt_low.png' class="guage-image-low"></div>
  <div class="mood medium medium-guilt"> <span class="char">M</span><span class="char">e</span><span class="char">d</span><span class="char">i</span><span class="char">u</span><span class="char">m</span><img src='../../../assets/icon/guilt_high.png' class="guage-image-medium"></div>
  <div class="mood high high-guilt"><span class="char">H</span><span class="char">i</span><span class="char">g</span><span class="char">h</span><img src='../../../assets/icon/guilt_medium.png' class="guage-image-high"></div>
  <div class="mood max max-guilt"><span class="char">M</span><span class="char">a</span><span class="char">x</span><img src='../../../assets/icon/guilt_max.png' class="guage-image-max"></div>
  
  <div class="needle" id="needle-guilt"></div>
</div>